body {
    font-family: 'Roboto', sans-serif; /* Roboto font */
    margin: 0;
    padding: 0;
    background-image: url('aii.webp'); /* Background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixed background */
    height: 100vh;
    overflow-y: scroll; /* Enable vertical scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: #fff;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px; /* Adjusted the border-radius for a slight rounding */
    background-color: rgba(128, 128, 128, 0.5); /* Gray background for buttons */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background on hover */
    color: #9C27B0; /* Purple text color on hover */
}

/* Toggle Styling */
.toggle-container {
    display: inline-block;
    background-color: #fff; /* White background */
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners */
}

.toggle-switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 10px; /* Rounded toggle switch */
    background-color: #808080; /* Gray color */
    cursor: pointer;
}

.toggle-slider {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%; /* Round slider */
    background-color: #fff; /* White background for slider */
    transition: transform 0.3s ease;
}

.toggle-checkbox {
    display: none; /* Hide the actual checkbox */
}

.toggle-checkbox:checked + .toggle-switch .toggle-slider {
    transform: translateX(20px); /* Move the slider to the right when checked */
}
