/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Roboto font */
    margin: 0;
    padding: 0;
    background-color: #9C27B0; /* Purple color background */
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(156, 39, 176, 0.8); /* Purple shade background with higher opacity */
    color: #fff;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px; /* Adjusted the border-radius for a slight rounding */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background for buttons */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background on hover */
    color: #9C27B0; /* Purple text color on hover */
}

/* Toggle Styling */
.toggle-container {
    display: inline-block;
    background-color: #fff; /* White background */
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners */
}

.toggle-switch {
    display: inline-block;
    w
